@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}
<style>


	h2 {
		color: #2C5A3F;
		font-size: 28px;
		margin-top: 20px;
		margin-bottom: 15px;
	}

	label {
		display: block;
		width: 280px;
		text-align: left;
		color: #1F3E2C;
		font-size: 14px;
		margin-top: 10px;
	}

	input {
		width: 350px;
		height: 40px;
		margin-top: 5px;
		border-radius: 6px;
		border: 1px solid #ccc;
		padding-left: 10px;
		font-size: 15px;
	}

	.btn-login {
		width: 200px;
		height: 42px;
		margin: 30px auto 0 auto;
		background-color: #2C5A3F;
		color: white;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		font-size: 17px;
		display: block;
	}


	.cadastro {
		font-size: 12px;
		margin-top: 15px;
		color: #1F3E2C;
	}

		.cadastro a {
			font-weight: bold;
			text-decoration: none;
			color: #1F3E2C;
		}

	.erro {
		color: red;
		font-size: 13px;
	}

</style>

<img class="w-25 p-0 m-0" src="~/img/logo eletro oncologia minimalista 4.png" />

<div class="d-flex flex-column justify-content-center align-items-center">

	<form method="post" id="registerForm" asp-route-returnUrL="@Model.ReturnUrl">

		<h2 class="text-center">Cadastro do Cliente</h2>

		<div asp-validation-summary="ModelOnly" class="erro"></div>

		<label>E-mail</label>
		<input asp-for="Input.Email" placeholder="Digite seu e-mail" />
		<span asp-validation-for="Input.Email" class="erro"></span>

		<label>Senha</label>
		<input asp-for="Input.Password" type="password" placeholder="Digite sua senha" />
		<span asp-validation-for="Input.Password" class="erro"></span>

		<label>Confirmar Senha</label>
		<input asp-for="Input.ConfirmPassword" type="password" placeholder="Digite sua senha" />
		<span asp-validation-for="Input.ConfirmPassword" class="erro"></span>

		<button id="registerSubmit" class="btn-login" type="submit">Cadastro</button>

		<p class="cadastro text-center">Já possuí cadastro? Faça seu login <a asp-page="./Register">Faça seu cadastro</a></p>

	</form>

</div>
